####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

 
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false
#dependenciesOnly=true
  
#projectPerFolder=true
#projectPerFolderIncludes= 
#projectPerFolderExcludes= 
  
#wss.connectionTimeoutMinutes=60
#Change the below URL to your WhiteSource server
#wss.url=[https://your-server.whitesourcesoftware.com/agent]
#E.g., wss.url=https://saas.whitesourcesoftware.com/agent or wss.url=https://app.whitesourcesoftware.com/agent
wss.url=https://rbbn.whitesourcesoftware.com/agent
 
#npm.ignoreJavaScriptFiles=false
#npm.resolveDependencies=false
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
  
#bower.resolveDependencies=false
#bower.runPreStep=true
  
#nuget.resolveDependencies=false
#nuget.restoreDependencies=true
  
#python.resolveDependencies=false
  
#maven.ignoredScopes=test provided
#maven.resolveDependencies=false
#maven.aggregateModules=false
 
#gradle.resolveDependencies = false
#gradle.runAssembleCommand = false

#go.resolveDependencies=false
#go.collectDependenciesAtRuntime=true
#go.dependencyManager= 

#ruby.resolveDependencies = false
  
##################################
# Organization tokens:
##################################
apiKey=39bfd78301364d1a97826289b38736bea17282c2675447b6bb1a5311aaa37036
  
projectName=
projectVersion=
projectToken=0655c8bc6a67494cb9e5667106be94b274f9140c25124506a47f97df9c3c8a8f
  
productName=
productVersion=
productToken=5041cebfb90d4781af393776744309aa728c43fb16164040b13439e281c3c9e6
#updateType=APPEND
#requesterEmail=user@provider.com
   
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx
  
#
includes=**/*

#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
#excludes=**/*sources.jar **/*javadoc.jar

excludes=whitesource-fs-agent-18.5.1.jar whitesource-fs-agent.config
  
case.sensitive.glob=false
followSymbolicLinks=true
   
##################################
# Archive Properties
##################################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar
   
##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=
   
##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
  
##############################################
# SCAN MODE: Linux package manager settings
##############################################
#scanPackageManager=true
 
##################################
# SCAN MODE: Docker images
##################################
#docker.includes=.*.*
#docker.excludes=.*.*
#docker.scanImages=true
